@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

/*Inicio*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../img/img5.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

@media (max-width: 480px) {
  .hero1 {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
/*Barra Nav*/
.nav {
  --padding-container:0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-weight: 300;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  gap: 2em;
}
.nav__logo{
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
  color: #fff;
}

.nav__img {
  display: block;
  width: 30px;
  color: #fff;
}

.nav__close {
  display: var(--show, none);
}

.nav ul li a:hover {
  background-color: orange;
}

@media (max-width: 768px) {
  .hero1 {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
  .nav__menu {
    display: block;
  }
  .nav__link-menu {
    position: fixed;
    background-color: #444cf7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
  }
  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }
  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }
}
.hero__container {
  max-width: 800px;
  --padding-container:0;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  align-content: center;
  text-align: center;
}

.hero__title {
  font-size: 3rem;
}
.hero__title .hero__parrafo {
  margin-bottom: 20px;
}
.hero__title .about {
  text-align: center;
}
.hero__title .subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-bottom: 25px;
}
.hero__title .about__parrafo {
  line-height: 1.7;
}
.hero__title .about__imgs {
  display: flex;
  gap: 1em;
  justify-items: center;
  width: 100%;
  margin: 0 auto 20px auto;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2.5rem;
  }
  .about__imgs:last-of-type {
    grid-column: 1/-1;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
  }
  .hero__parrafo {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
}
.seccion {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}

.seccion__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  margin-top: 30px;
}

.seccion__foto {
  max-width: 500px;
}

.seccion__parrafo {
  line-height: 1.7;
  margin-bottom: 15px;
}

.seccion__img {
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .seccion__container {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
  }
  .seccion__foto {
    grid-row: 1/2;
    justify-self: center;
  }
}
.hero3 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../img/img3.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

@media (max-width: 768px) {
  .hero3 {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .hero3 {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
.nosotros {
  text-align: center;
  margin-bottom: 20px;
}

.nosotros__title {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.nosotros__img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .nosotros__img {
    width: 200px;
    height: 200px;
  }
  .nosotros__title {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  .nosotros__img {
    width: 150px;
    height: 150px;
  }
  .nosotros__title {
    font-size: 1.3em;
  }
}
.hero2 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../img/img2.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

@media (max-width: 768px) {
  .hero2 {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .hero2 {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
.contacto__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1100px;
}
.contacto__title {
  text-align: center;
  font-size: 3rem;
}
.contacto__title1 {
  padding: 20px;
  padding-top: 0;
  margin-bottom: 30px;
}
.contacto__info, .formulario {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.formulario {
  border-left: 1px solid red;
  padding-top: 0;
}
.nav__links1{
  text-decoration: none;
}
.formulario__label, .formulario__input-text, .formulario__textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.formulario__input-text {
  padding: 10px;
  margin-bottom: 10px;
}
.formulario__textarea {
  width: 100%;
  height: 150px;
}
.botonEnviar {
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 50px;
  margin: auto auto 30px;
}
.contacto__title-mapa {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .contacto__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  .formulario {
    border-left: none;
    border-top: 1px solid red;
    padding-top: 30px;
    margin-top: 15px;
    width: 100%;
    height: auto;
  }
  .contacto__info p {
    font-size: 1em;
    width: 100%;
    height: auto;
  }
  .formulario__textarea {
    width: 100%;
    height: 200px;
  }
  .contacto__title {
    font-size: 2rem;
  }
  .mapa {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto auto 30px;
  }
}
@media (max-width: 480px) {
  .contacto__container {
    grid-template-columns: 1fr;
  }
  .contacto__info p {
    font-size: 0.75em;
  }
  .contacto__title {
    font-size: 1.5rem;
  }
  .formulario {
    border-top: 1px solid red;
    border-left: none;
    margin-bottom: 10px;
  }
  .formulario__textarea {
    width: 100%;
    height: 200px;
  }
  .mapa {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto auto 30px;
  }
}
.hero1 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero1 .hero1 {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}

.hero1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../img/img4.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

@media (max-width: 768px) {
  .hero1 {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .hero1 {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
.container__centros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
}

.centros__title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.centro {
  margin: 15px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 10px 10px 5px 5px;
}

.centro__img:hover {
  transform: scale(1.1);
}

.centro__title {
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .container__centros {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .centro {
    box-shadow: none;
    margin: auto auto;
  }
}
@media (max-width: 480px) {
  .container__centros {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.hero4 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../img/img6.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

@media (max-width: 768px) {
  .hero4 {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .hero4 {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
}
.obras__container {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.titulo__obras h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
.titulo__obras p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.obras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.obra {
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 10px 10px 5px 5px #000;
}

.obra:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .obras__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .obra__img {
    box-shadow: none;
    width: 60%;
    height: 60%;
    border-radius: 0;
  }
}
@media (max-width: 480px) {
  .obras__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .obra__img {
    box-shadow: none;
    width: 50%;
    height: 50%;
    border-radius: 0;
  }
}
.footer {
  background-color: #1D293F;
}

.footer__redes {
  --padding-container:30px 0;
  text-align: center;
}

.footer__copyright {
  font-weight: 300;
  color: #fff;
}

.footer__icons {
  margin-bottom: 10px;
}

.footer__img {
  width: 30px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */