/*Footer*/
.footer{
    background-color: $clr-bg;
}
.footer__redes{
    --padding-container:30px 0;
    text-align: center;
}
.footer__copyright{
    font-weight: 300;
    color: #fff;
}
.footer__icons{
    margin-bottom: 10px;
}
.footer__img{
    width: 30px;
    color: #fff;
}