/*Nosotros*/

.hero3 {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
  
  .hero3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../img/img3.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
  }
  @media (max-width:768px){
    .hero3{
        width: 100%;
        min-height: 500px;
        max-height: 600px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    }
    @media (max-width:480px){
      .hero3{
          width: 100%;
          min-height: 400px;
          max-height: 500px;
          position: relative;
          display: grid;
          grid-template-rows: 100px 1fr;
          color: #fff;
      }
      }