.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__logo{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.nav__items{
    list-style: none;
}
.nav__links{
    color: #fff;
    text-decoration: none;
}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
    color: #fff;
}
.nav__img{
    display: block;
    width: 30px;
    color: #fff;
}
.nav__close{
    display: var(--show, none);
}
.nav ul li a:hover{
    background-color: orange;
}
@media (max-width:768px){
    .hero1{
        width: 100%;
        min-height: 500px;
        max-height: 600px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    .nav__menu{
        display:block ;
    }
    .nav__link-menu{
        position: fixed;
        background-color: #444cf7;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    }


