.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    text-align: center;
}
.hero__title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;

.hero__parrafo{
    margin-bottom: 30px;
}
.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about__parrafo{
    line-height: 1.7;
    margin-bottom: 20px;
}
.about__imgs{
    display: flex;
    gap: 1em;
    justify-items: center;
    width: 100%;
    margin: 0 auto 20px auto;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
}
@media (max-width:768px){
    .hero__title{
        font-size: 2.5rem;
        text-align: center;
    }
    .about__imgs:last-of-type{
        grid-column: 1/-1;
    }
}
@media (max-width:480px){
.hero__title{
    font-size: 2rem;
}
.hero__parrafo{
    font-size: 1rem;
}
.subtitle{
    font-size: 1.8rem;
}
}